{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
	<head>
	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
		    <!-- Bootstrap -->
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

		<link rel="stylesheet" href="{% static 'css/inicio.css' %}">
		<!-- Latest compiled and minified JavaScript -->
		<script type="text/javascript" src="static/jquery-2.1.4.js" ></script>
		<script>

			$(document).ready(function(){

			    $contador = 1;

			    $("label.btn").click(function () {
    				var choice = $(this).find('input:radio').val();
			    	$ans = a_correcta;
    				if(choice==$ans){
    					var ch = $(this).find('input:radio').colorear_verde($(this));
    				}
    				else{
    					var ch = $(this).find('input:radio').colorear_rojo($(this));
    					if($ans=="1"){
    						var ch1 = $("#bt1").colorear_verde($("#bt1"));
    					}
    					else if($ans=="2"){
    						var ch1 = $("#bt2").colorear_verde($("#bt2"));
    					}
    					else if($ans=="3"){
    						var ch1 = $("#bt3").colorear_verde($("#bt3"));
    					}
    					else if($ans=="4"){
    						var ch1 = $("#bt4").colorear_verde($("#bt4"));
    					}
    				}
    				//cambiar_color(choice);
			    	//$('#loadbar').show();
			    	//$('#quiz').fadeOut();
			    	$('#answer').fadeIn();
		            $( "#answer" ).html(  $(this).checking(choice) );
			    	setTimeout(function(){
						$('#quiz').hide();
						$('#answer').fadeIn();
						$('#divmegustaono').fadeIn();
						$("#divreportarpregunta").fadeIn();
			            $("#divrespuesta").fadeIn();
						$('#loadbar').hide();
						var ch3 = $("#bt1").colorear_normal($("#bt1"));
						var ch4 = $("#bt2").colorear_normal($("#bt2"));
    					var ch5 = $("#bt3").colorear_normal($("#bt3"));
    					var ch6 = $("#bt4").colorear_normal($("#bt4"));

			            //$( "#resultado" ).show();
			    	}, 3000);
			    });
				$("#boton-siguiente").click(function () {
					if($contador<3){
						$('#divmegustaono').hide();
						$("#divreportarpregunta").hide();
				        $("#divrespuesta").hide();
						$('#answer').hide();
						$('#llegaImagen').show();
						$('#quiz').show();
					}
					else if($contador==99){
						alert("Partida terminada");
					}
				});
			

				$.fn.colorear_rojo = function(choice){
					return choice.css('background-image','none').css('background-color','#FF0000') //
				};

				$.fn.colorear_verde = function(choice){
					return choice.css('background-image','none').css('background-color','#009900') //
				};

				$.fn.colorear_normal = function(choice){
					return choice.css('background-image','none').css('background-color','#3366CC') //
				};

			    $.fn.checking = function(ck) {
			        if (ck != $ans)
			            return 'Respuesta incorrecta';
			        else 
			            return 'Respuesta correcta';
			    };
			});

			function cambiar_pregunta(){//cambia el texto desplegado en html
				//esto solo para la entrega
				if($contador <2){
					$contador = $contador + 1;
					document.getElementById('qid').innerHTML = $contador;
					document.getElementById('preg').innerHTML = pregunta2;
			  		document.getElementById('a1').innerHTML = alternativa1_2;
			  		document.getElementById('a2').innerHTML = alternativa2_2;
			  		document.getElementById('a3').innerHTML = alternativa3_2;
			  		document.getElementById('a4').innerHTML = alternativa4_2;
	  		        document.getElementById("rutaimagen").src=ruta_imagen_2;
					a_correcta = a_correcta_2;
				}
				else{
					$contador = 99;
				}
  			}



  			/*function cambiar_color(choice){				
				if(a_correcta=="1"){
					document.getElementById("bt1").style.backgroundColor = '#009900';
				}
				else if(a_correcta=="2"){
					document.getElementById("bt2").style.backgroundColor = '#009900';
				}
				else if(a_correcta=="3"){
					document.getElementById("bt3").style.backgroundColor = '#009900';
				}
				else if(a_correcta=="4"){
					document.getElementById("bt4").style.backgroundColor = '#009900';
				}
  				if(choice!=a_correcta)){
  					if(choice=="1"){
  						document.getElementById("bt1").style.backgroundColor = '#FF0000';
  					}
  					else if(choice=="2"){
  						document.getElementById("bt2").style.backgroundColor = '#FF0000';
  					}
  					else if(choice=="3"){
  						document.getElementById("bt3").style.backgroundColor = '#FF0000';
  					}
  					else if(choice=="4"){
  						document.getElementById("bt4").style.backgroundColor = '#FF0000';
  					}
  				}
			}
			*/
      	</script>

		<title>Cultura Chilenistica</title>
	</head>
	<body>
		<div class="container-fluid bg-info">
		    <div class="modal-dialog">
		    	<div class="modal-content">
		        	<div class="modal-header">
		            	<h3>
		            	<span class="label label-warning" id="qid">numero de pregunta</span>
		            	<span id="preg">pregunta vacia</span></h3>
		        	</div>
		        <div align=center id="llegaImagen">
					<img id="rutaimagen" class="img-thumbnail resizable img-animation1" src="static/imagenes/foto1.jpg" alt="Plato Chileno"/>
		        </div>

		        <div class="modal-body">
		            <div class="col-xs-3 col-xs-offset-5">
		               <div id="loadbar" style="display: none;">
		                  <div class="blockG" id="rotateG_01"></div>
		                  <div class="blockG" id="rotateG_02"></div>
		                  <div class="blockG" id="rotateG_03"></div>
		                  <div class="blockG" id="rotateG_04"></div>
		                  <div class="blockG" id="rotateG_05"></div>
		                  <div class="blockG" id="rotateG_06"></div>
		                  <div class="blockG" id="rotateG_07"></div>
		                  <div class="blockG" id="rotateG_08"></div>
		            	</div>
		          	</div>

					<div id="divrespuesta" data-toggle="buttons" style="display: none;">
						<label onclick="cambiar_pregunta();" id="boton-siguiente" class="btn1 btn-lg btn-primary btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span>Continuar</label>
					</div>

					<div id="divmegustaono" class="btn-group btn-group-justified" style="display: none;">
					    <a class="btn btn-success element-animation1" role="button">Me gusta</a>
    					<a class="btn btn-danger element-animation1" role="button">No me gusta</a>
    				</div>

    				<p>
    				<div class="btn-group" id="divreportarpregunta" style="display:none;">
    					<button type="button" class="btn btn-warning element-animation2 btn btn-default">Reportar Pregunta</button>
					</div>

			        <div id="quiz" class="quiz" data-toggle="buttons">
			            <label id="bt1" class="element-animation1 btn btn-lg btn-primary btn-block"><span id="a1" class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span><input type="radio" name="q_answer" value="1"></label>
			            <label id="bt2" class="element-animation2 btn btn-lg btn-primary btn-block"><span id="a2" class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value="2"></label>
			            <label id="bt3" class="element-animation3 btn btn-lg btn-primary btn-block"><span id="a3" class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value="3"></label>
			            <label id="bt4" class="element-animation4 btn btn-lg btn-primary btn-block"><span id="a4" class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value="4"></label>
			        </div>

					<script>
						var pregunta1 = "{{pregunta1}}";
						var pregunta2 = "{{pregunta2}}";
						var alternativa1_1 = "{{alternativa1_1}}";
						var alternativa1_2 = "{{alternativa1_2}}";
						var alternativa2_1 = "{{alternativa2_1}}";
						var alternativa2_2 = "{{alternativa2_2}}";
						var alternativa3_1 = "{{alternativa3_1}}";
						var alternativa3_2 = "{{alternativa3_2}}";
						var alternativa4_1 = "{{alternativa4_1}}";
						var alternativa4_2 = "{{alternativa4_2}}";
						var ruta_imagen_1 = "{{ruta_imagen_1}}";
						var ruta_imagen_2 = "{{ruta_imagen_2}}";
						var a_correcta_1 = "{{a_correcta_1}}";
						var a_correcta_2 = "{{a_correcta_2}}";

						document.getElementById('qid').innerHTML = 1;
			  			document.getElementById('preg').innerHTML = pregunta1;
			  			document.getElementById('a1').innerHTML = alternativa1_1;
			  			document.getElementById('a2').innerHTML = alternativa2_1;
			  			document.getElementById('a3').innerHTML = alternativa3_1;
			  			document.getElementById('a4').innerHTML = alternativa4_1;
						document.getElementById('rutaimagen').innerHTML = ruta_imagen_1;
						a_correcta = a_correcta_1;
					</script>
		   		</div>
		   <div class="modal-footer text-muted"><h3>
		    <span id="answer"></span></h3>
		</div>
		</div>
		</div>
		</div>
  </body>
</html>